.header1{
    font-size: 40px;
}
.headers{
    margin: 20px;
    text-align:center;
    background-color: beige;
}

.body-style{
    margin: 20px;
    background-color:rgb(246, 246, 234);
    padding: 10px;
    font-size: 17px;
    width: 600px;
}
.vitamin-role{
    margin-left: 585px;
    margin-right: 20px;
}

.table-style{
    width: 100%;
}

.vdimg-style{
    float: inline-end;
    width: 400px;
    height: 300px;
    margin-inline-end: 20px;
    margin-top: 30px;
}
.fcimg-style{
    float: inline-start;
    width: 550px;
    height: 470px;
    margin-inline-start: 20px;

}
.deimg-style{
    float: inline-end;
    width: 500px;
    height: 400px;
    margin-inline-end: 60px;
    
}
.srcimg-style{
    margin-inline-end: 30px;
    width: 550px;
    margin-top: 18px;
}